@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=REM&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: black;
}

.css-1{
    font-size: 28px;
    padding-left: 20px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 500;
}

.css-2{
    list-style: circle;
}

.css-3{
    font-size: 40px;
    font-family: 'Poppins', serif;
    font-weight: 700;
    text-align: center;
}